.m_div {
  height: 562px;
  text-align: center;
  vertical-align: bottom;
  background-image: linear-gradient(
    to right,
    rgb(104, 104, 252) 50%,
    rgb(223, 223, 223) 50%
  );
}

.text {
  background-color: transparent;
  margin-top: 20%;
}

.m_div h4 {
  color: blue;
  background-color: transparent;
}

.m_div h1 {
  background-color: transparent;
}
